/* Extra small devices (phones, 599px and down) */
    body{
        width: 98%;
        margin: auto;
        font-size: 10px;
        font-family: "Orbitron";
    }
    #contenaireTotal{
        display: flex;
        flex-direction: column;
    }
    #conteneurGauche{
        background-color: #FACA33; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    
         #photoCV{
            width: 100%;
            text-align: center;
            margin-top: 2%;
        }
        #photoCV img{
            width: 60%;
        } 
         #TitreNomMetierGauche{
           width: 98%;
           margin: auto;
           text-align: center;
        }
        #TitreNomMetierGauche h1{
           font-size: 4em;
        }
        #TitreNomMetierGauche h3{
          font-size: 2em;
        }
        h2{
            width: 90%;
            background-color: #393939;
            padding: 5%;
            text-align: center;
            color: #FACA33;
            font-size: 2em;
        }
        .contenuContact{
            width: 90%;
            margin: auto;
            color: #393939;
            font-size: 1.8em;
        }
            .bolder{
                font-weight: bolder;
            }

        #texteApropos{
            width: 90%;
            margin: auto;
            text-align: justify;
            font-size: 1.6em;
        }
        #ImagesLoisir{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    .elementGauche:nth-child(2){
        margin-bottom: 2%;
    }
    #conteneurDroit{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2%;
        margin-top: 8%;
    }
    .elementDroit{
        width: 98%;
        margin-bottom: 4%;
    }
    #TitreNomMetierDroit{
        display: none;
        padding-left: 10%;
        margin-bottom: 8%;
    }
        h1{
        font-size: 5em;
        }
        .colorNom{
        color: #FACA33;
        }
        h3{
        font-size: 2em;
        }
        .souligneMetier{
        text-decoration: underline;
        text-decoration-color: #FACA33;  
        }
    
    .titreElementDroit{
        padding-left: 1%;
        font-size: 2em;
        border-bottom: 4px solid #FACA33;
    } 
        .titreElementDroit img{
            width: 8%;
            padding-right: 1%;
        }    

    .contenaireElementDroit{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.4em;
    } 
    .sousElementDroit:nth-child(1){
        flex-basis: 5%;
    }
        .sousElementDroit:nth-child(1) img{
        width: 100%;
        }
    .sousElementDroit:nth-child(2){
        flex-basis: 88%;
        text-align: center;
    }     
    .sousElementDroit:nth-child(3){
        font-weight: bolder;
        flex-basis: 100%;
        text-align: center;
    } 
    .nonBolder{
        font-weight: normal;
    }
    .sousElementDroit:nth-child(4){
        flex-basis: 90%;
        padding-left: 10%;
        margin-top: 4%;
    }   
    .sousElementDroit:nth-child(5){
        flex-basis: 100%;
        text-align: justify;
        margin-bottom: 4%;
    }        
    .elementDroit:nth-child(10){
        display: flex;
        flex-direction: column;
    }
    .elementCR{
        display: flex;
        flex-basis: 80%;
        padding-left: 20%;
    }
    .elementCR:nth-child(1),.elementCR:nth-child(5){
        font-weight: bolder;
        margin-top: 2%;
    }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
        width: 80%;
        margin: auto;
    }
 #photoCV img{
        width: 50%;
    } 
  .sousElementDroit:nth-child(1) img{
    width: 80%;
}
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
 body{
        width: 70%;
        margin: auto;
        font-size: 10px;
        font-family: "Orbitron";
    }
.sousElementDroit:nth-child(1){
        flex-basis: 5%;
    }
        .sousElementDroit:nth-child(1) img{
        width: 80%;
        }
    .sousElementDroit:nth-child(2){
        flex-basis: 40%;
        text-align: center;
    }      
    .sousElementDroit:nth-child(3){
        flex-basis: 40%;
        text-align: center;   
    }
    
    .sousElementDroit:nth-child(4){
        flex-basis: 100%;
        margin-top: 2%;
        margin-bottom: 4%;
    }   
    .sousElementDroit:nth-child(5){
        flex-basis: 100%;
        text-align: justify;
        margin-bottom: 4%;
    }
    .elementDroit:nth-child(10){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .elementCR{
        display: flex;
        flex-basis: 50%;
        margin-left: -20%;
        font-size: 0.9em;
    }
    .elementCR:nth-child(1),.elementCR:nth-child(5){
        font-weight: bolder;
        margin-top: 2%;
    }
     .elementCR:nth-child(1){
         order: 1;
    }   
    .elementCR:nth-child(2){
         order: 3;
    }   
     .elementCR:nth-child(3){
         order: 5;
    }     
     .elementCR:nth-child(4){
         order: 7;
    }   
       .elementCR:nth-child(5){
         order: 2;
    }     
       .elementCR:nth-child(6){
         order: 4;
    }     
     .elementCR:nth-child(7){
         order: 6;
    } 
     .elementCR:nth-child(8){
         order: 8;
    }   
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 body{
        width: 98%;
        margin: auto;
        font-size: 10px;
        font-family: "Orbitron";
    }
    #contenaireTotal{
        display: flex;
        flex-direction: row;
    }
    #conteneurGauche{
        display: flex;
        flex-direction: column;
        width: 35%;
        justify-content: space-between;
    }
    #TitreNomMetierGauche{
        display: none;
    }
    .contenuContact{
        font-size: 1.5em;
    }
    #texteApropos{
        font-size: 1.5em;
    }
    #conteneurDroit{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2%;
        width: 68%;
        margin-top: 0;
    }
    #TitreNomMetierDroit{
        display: inherit;
    }
    .titreElementDroit img{
         width: 8%;
        padding-right: 4%;
     } 
    .contenaireElementDroit{
        font-size: 1.6em;
    } 
    .sousElementDroit:nth-child(1){
        flex-basis: 10%;
        text-align: right;
    }
   .sousElementDroit:nth-child(2){
        flex-basis: 30%;
        font-size: 0.8em;
    }
        .sousElementDroit:nth-child(1) img{
        width: 30%;
        }
    .sousElementDroit:nth-child(2){
        flex-basis: 30%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  body{
        width: 98%;
        margin: auto;
        font-size: 10px;
        font-family: "Orbitron";
      border: 1px solid black;
    }
    #contenaireTotal{
        display: flex;
        flex-direction: row;
    }
    #conteneurGauche{
        background-color: #FACA33; 
        display: flex;
        flex-direction: column;
        width: 30%;
        justify-content: space-between;
    }
    #photoCV img{
            width: 80%;
        }   
    #conteneurDroit{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2%;
        width: 68%;
        margin-top: 0;
    }
    .elementDroit{
        width: 98%;
        margin-bottom: 2%;
    }
    .titreElementDroit img{
         width: 8%;
        padding-right: 4%;
     }    

    .contenaireElementDroit{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.6em;
    } 
    .sousElementDroit:nth-child(1){
        flex-basis: 5%;
        margin-right: 2%;
    }
        .sousElementDroit:nth-child(1) img{
        width: 50%;
        }
    .sousElementDroit:nth-child(2){
        flex-basis: 30%;
        font-size: 0.8em;
        text-align: left;
    }      
      .sousElementDroit:nth-child(3){
        text-align: left;
    }   
    .sousElementDroit:nth-child(4){
        flex-basis: 100%;
        padding-left: 37%;
        margin-top: 2%;
        margin-bottom: 4%;
    }   
    .sousElementDroit:nth-child(5){
        flex-basis: 100%;
        text-align: justify;
        margin-bottom: 4%;
    }    
    
    

}